language: java
jdk:
  - oraclejdk8
sudo: false
script: mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
